@model Carreras.Models.Participante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dorsal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dorsal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosicionGeneral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosicionGeneral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoOficial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoOficial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
