<nav>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/panel">Control panel</a></li>
    <li><a href="/image">Images</a></li>
    <li><a href="/upload/image">Upload image</a></li>
  </ul>
</nav>
<h1>{{title}}</h1>
<table border="1">
  <tr>
    <td>Code</td>
    <td>Description</td>
    <td>Price</td>
  </tr>
  {{#each articles}}
  <tr>
    <td>{{code}} </td>
    <td>{{description}}</td>
    <td>{{price}}</td>
  </tr>
  {{/each}}
</table>
<p>Monday discount: {{discount.monday}}</p>
<p>Tuesday discount: {{discount.tuesday}}</p>